.container.profile {
  margin-top: 7rem !important;
}

.scrollbox.profile-page {
  height: 270px;
  padding-left: 1rem;
}

.user-card.errand-history {
  max-height: auto !important;
}

.dash-profile {
  display: block;
  margin: 0 auto 1rem auto;
  border-radius: 50%;
  width: 110px;
}

.dash-name {
  font-weight: bold;
  text-align: center;
  font-size: 19px;
}

.dash-email {
  text-align: center;
}

.dash-number {
  margin-top: -0.8rem;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
}

.dash-stars.reviews {
  display: block;
}

.dash-stars.reviews .material-icons {
  font-size: 16px;
}
.dash-stars .material-icons {
  color: #efce27;
}

.review-list {
  list-style-type: none;
  padding-top: 1rem;
}

.verify-account,
.verify-account .material-icons {
  color: #0086b9;
}

.dash-stars {
  display: flex;
  justify-content: center;
  margin-top: -0.8rem;
}

.user-profile-card.ongoing {
  min-width: 370px;
  margin-left: -1.2rem;
}

.user-profile-card.post-history {
  height: 85vh;
  position: fixed;
}

.review-list {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid lightblue;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.reviewers-pix {
  border-radius: 50%;
  width: 60px;
  margin-right: 1rem;
  margin-top: 0;
  align-self: flex-start;
}

.reviewer-name {
  font-weight: bold;
  margin-bottom: 0px;
}

.review-comment {
  color: #292929;
}

.notifications {
  align-items: center;
  margin: 0 auto 1rem auto;
}

.errand-status {
  color: #292929;
}

.errand-history .posted {
  color: #0086b9;
}

.errand-history .errand-details {
  font-style: normal;
}

.pointer {
  cursor: pointer;
}
